<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Criar Movimentação</h2>
        </div>
      <div class="card-body">
        <form #f = "ngForm"  noValidate (ngSubmit)="CreateMovimentacao(f.value)">
          <div class="input-group">
            <label for="produto">Produto</label>
            <select id="produto" class="form-control" name="produto" (change)="OnId($event.target.value)">
              <option selected disabled value="">Selecione o Produto</option>
              <option *ngFor="let p of produtos" [value]="p.produto_id">{{p.nome}}</option>
            </select>
          </div>
          <div class="input-group">
            <label for="tipo">Tipo de Movimentação</label>
            <select id="tipo" class="form-control" name="tipo_de_movimentacao" ngModel #tipo = "ngModel" required autofocus>
              <option selected disabled value="">Selecione um Tipo de Movimentação</option>
              <option value="ENTRADA">ENTRADA</option>
              <option value="SAIDA">SAÍDA</option>
              <option *ngIf="verificarPermisao('GERENTE')" value="SALDO_INICIAL">SALDO INICIAL</option>
              <option *ngIf="verificarPermisao('GERENTE')" value="AJUSTE_ENTRADA">AJUSTE ENTRADA</option>
              <option *ngIf="verificarPermisao('GERENTE')" value="AJUSTE_SAIDA">AJUSTE SAÍDA</option>
            </select>
          </div>
          <div class="input-group">
            <label for="quantidade">Quantidade</label>
            <input type="number" id="quantidade" class="form-control" name="quantidade"  ngModel required #quantidade="ngModel" >
          </div>
          <div class="input-group">
            <label for="data">Data</label>
            <input type="date" id="data" class="form-control"  name="data" ngModel required #data="ngModel" >
          </div>
          <div class="input-group">
            <label for="motivo">Motivo</label>
            <input type="text" id="motivo" class="form-control"  name="motivo" ngModel required #motivo="ngModel" >
          </div>
          <div class="input-group">
            <label for="documento">Documento</label>
            <input type="text" id="documento"
            class="form-control"  name="documento" ngModel required #documento="ngModel" >
          </div>
          <div class="input-group-button">
          <button type="submit" class="btn btn-primary btn-block btn-salvar">Criar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
