<header class="header-container">
<div class="logo">
<img src="../../../assets/images/logo-varejo-nome.png" alt="Logo da loja">
</div>
<div class="navigate">
    <nav>
        <a routerLink="/home">HOME</a>
        <a routerLink="/app-movimentacao-cadastro">CRIAR MOVIMENTAÇÃO</a>
        <a *ngIf="verificarPermisao('GERENTE')" routerLink="/app-produtos-cadastro">CADASTRAR PRODUTOS</a>
        <a *ngIf="verificarPermisao('GERENTE')" routerLink="/app-produtos-edicao">EDITAR PRODUTOS</a>
    </nav>
</div>
</header>
