.header-container{
    background-color: white;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}
.navigate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
}
a{
    font-size: large;
    font-weight: 700;
    text-decoration: none;
}
.link-center{
    margin-left: 30px;
    margin-right: 30px;
}
a:hover{
    color:aqua
}
