<div class="login-container">
    <div class="card">
      <div class="card-body m-2">
        <div class="header">
          <img src="../../../assets/images/logo-varejo-nome.png"/>
          <h2>Entrar</h2>
          <br>
          <h4>Escolha entre Gerente ou Operador</h4>
        </div>
        <form #f = "ngForm" (ngSubmit)="onSubmit(f)" noValidate>
          <div class="input-group mb-2">
            <select id="ro" class="form-control" name="role" ngModel #role = "ngModel" required autofocus>
              <option selected disabled value="">Selecione uma Role</option>
              <option value="GERENTE">GERENTE</option>
              <option value="OPERADOR">OPERADOR</option>
            </select>
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control" name="email" placeholder="gerente@gmail.com" ngModel required #nome="ngModel" >
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control"  name="password" placeholder="password" ngModel required #password="ngModel" >
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-salvar">Criar</button>
        </form>
      </div>
    </div>
  </div>
